# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
webapp/node_modules
webapp/.pnp
webapp/.pnp.*
webapp/.yarn/*
webapp/!.yarn/patches
webapp/!.yarn/plugins
webapp/!.yarn/releases
webapp/!.yarn/versions

# testing
webapp/coverage

# next.js
webapp/.next/
webapp/out/

# production
webapp/build

# misc
.DS_Store
*.pem

# debug
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*
webapp/.pnpm-debug.log*

# vercel
webapp/.vercel

# typescript
webapp/*.tsbuildinfo
webapp/next-env.d.ts

db/volumes/db/data
db/volumes/storage
db/test.http
db/docker-compose.override.yml

# venv
pgbot_venv/